.App {
  background-color: #96998C;
  text-align: center;
  padding-top:3rem;
  min-height: 100vh;
  font-weight: bold;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Alert {
  font-size: 1rem;
}

.Title {
  font-size: 1.4rem;
}

.Title-icon {
  width: 3rem;
  color: darkslategrey;
}

.Title-count {
  color: #006600;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.List{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.Task {
  padding: .5rem;
  border: 2px solid black;
  margin-top: .5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #cfc0ab;
}

.Task-text {
  text-align: start;
  width: 35rem;
  font-size: 1rem;
}

.Task-edit {
  width:37.5rem;
}

.Add-task-form {
  margin-bottom: 3rem;
  height: 50px;
}

.Start-edit-btn {
  color: black;
} 

.Done-edit-btn {
  color: #006600;
}

.Checkbox-btn {
  color: #006600;
}

.Delete-btn {
  color: #964B00;
}

.Undo-edit-btn {
  color: #964B00;	
}

.Done-list {
  padding-bottom: 3rem;
}