.App {
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  min-height: 100vh;
  font-weight: bold;
}

.App-body {
  min-height: 40vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Alerts */
.Alert {
  margin-top: 10px;
  width: 20rem;
  border-radius: 10px;
  /* centered the alert */
  position: absolute;
  left: 42%;
}

.Alert-add {
  background-color: lightblue;
}

.Alert-done {
  background-color: lightgreen;
}

.Alert-delete {
  background-color: orangered;
}

/* Title */

.Title {
  font-size: 2.5rem;
  color: #F5F5F5;
}

.Tasks-header {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.Num-tasks-header {
  color: darkgoldenrod;
}

.Done-header {
  color: green;
}

/* Tasks */

.List{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.Task {
  padding: .3rem;
  border: 1px solid lightblue;
  margin-top: .5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #222222;
}

.Task-text {
  text-align: start;
  width: 35rem;
  font-size: 1rem;
  color: #EFEFED;
}

.Edit-btn {
  color: lightblue;
} 

.Delete-btn {
  color: #964B00;
}

/* Input Form */

.Add-form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.Add-form-input {
  background-color: whitesmoke;
  width: 650px;
  border: 8px solid white !important;
  border-radius: 5px;
}

.Save-btn {
  background-color: #964B00 !important;
  border: 1px solid white !important;
  font-weight: bold !important;
  color: whitesmoke !important;
  align-items: flex-start;
  width: 300px;
  margin: 20px !important;
}

.Task-edit {
  width:37.5rem;
}


.Done-edit-btn {
  color: #006600;
}

.Checkbox-btn {
  color: #006600;
}


.Undo-edit-btn {
  color: #964B00;	
}

.Done-list {
  padding-bottom: 3rem;
}

.Done-task {
  opacity: 90%;
}

.Toggle-done-list-btn {
  color: white !important;
  border: 1px solid black !important;
}

.Clear-btn {
  color: #FF4500 !important;
  margin-top: 20px !important;
  border: 1px solid #FF4500 !important;
}

.Clear-btn:hover {
  color: white !important;
  background: #FF4500 !important;
}